.bodyarea1{
    margin-top: 29px;
    width:260px;
    margin-left: 24px;
    height: 130px;
    background-color: #1a1a23;
}
.bodyarea2{
    margin-top: 21px;
    width:260px;
    margin-left: 24px;
    height: 130px;
    background-color: #1a1a23;
}
.bodyarea3{
    margin-top: 21px;
    width:260px;
    margin-left: 24px;
    height: 130px;
    background-color: #1a1a23;
}
.textarea3{
    color: rgb(169, 168, 168);
    font-size: 11px;
}

.textarea2{
    color: #fff;
    display: block;
    font-size: 33px;
    margin-top: 10px;
    width: 120px;
    line-height: 39px;
    /* background-color: red; */
    margin-bottom: 8px;

}
.textarea4{
    color: green;
    font-size:12px;
    margin-left: 130px;
    margin-top: -45px;
}
.bodyarea7{
/* display: flex; */
}
.bodyarea6{

}
.bodyarea5{
width: 800px;
height: 130px;
float: right;
color: white;
background-color:#1a1a23 ;
margin-top: -432px;
margin-right: 80px;
}
.textarea5{
    color: white;
    background-color:#1a1a23 ;
}