.button1{
    padding-left: 30px;
}
.button2{
    border-radius: 5px;
    width: 70px;
    height: 40px;
   color: #fff;
   background-color: #14151d;
   border: 1px solid white;
}
.button3{
    margin-left:18px;
    border-radius: 5px;
    width: 88px;
    height: 40px;
   color: #fff;
   background-color: #14151d;
   border: 1px solid white;
}
.button4{
    margin-left:18px;
    border-radius: 5px;
    width: 88px;
    height: 40px;
   color: #fff;
   background-color: #14151d;
   border: 1px solid white;
}
.button5{
   margin-left:18px;
    border-radius: 5px;
    width: 98px;
    height: 40px;
   color: #fff;
   background-color: #14151d;
   border: 1px solid white;
}
.button6{
    margin-left:18px;
    border-radius: 5px;
    width: 88px;
    height: 40px;
   color: #fff;
   background-color: #14151d;
   border: 1px solid white;
}
.button7{
    margin-left:18px;
    border-radius: 5px;
    width: 88px;
    height: 40px;
   color: #fff;
   background-color: #14151d;
   border: 1px solid white;
}

